.footer{
    grid-area: footer;
    background-color: #242C33;
    display: flex;
    justify-content: center;
}
.footer--icons{
    color: #ffffff;
}
.footer--icons i{
    font-size: 32px;
    padding: 10px;
}