<div class="feedback-cards">
    <div class="feedback-cards__card">
        <img src="../assets/images/profile1.jpg" alt="">
        <h4>Draiko Juan</h4>
        <p>Pedidos buenos rapidos y confiables llegaron a mi casa muy rapido </p>
    </div>
    <div class="feedback-cards__card">
        <img src="../assets/images/profile2.jpg" alt="">
        <h4>Rodrigo Cespedes</h4>
        <p>Pedidos buenos rapidos y confiables llegaron a mi casa muy rapido </p>
    </div>
    <div class="feedback-cards__card">
        <img src="../assets/images/profile3.jpg" alt="">
        <h4>Carlos Garcia</h4>
        <p>Pedidos buenos rapidos y confiables llegaron a mi casa muy rapido </p>
    </div>
</div>